* {
    margin: 0;
    padding: 0;
}
html, body {
    line-height: 1.2em;
    font-size-adjust: none;
    font-size: 1em;
    font-family: "sans-serif";
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Hide {
    display: none!important;
}
hbox {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-basis: auto;
}
vbox {
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-basis: auto;
}
vbox > *, hbox > *, box > * {
    flex-shrink: 0;
}
[flex="1"] {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}
#keyframes(@name; @arguments) {
    @-moz-keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}

#animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    animation: @arguments;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
	line-height: 1.2;
	padding: 0.4em 0.8em;
	margin: 0em;
	border: none;
	border-radius: 0.2em;
	background: #E6E6E6;
	font-weight: 500;
	font-family: inherit;
	box-sizing: border-box;
	color: #333;
	outline: none !important;
	position: relative;
	overflow: hidden;
	animation: ripple-effect;
}
.InputGroup,
hbox.ButtonGroup {
    margin-bottom: 1em;
}
hbox.ButtonGroup * + * {
    margin-left: 0.6em;
}

hbox.InputGroup {
    align-items: center;
}
hbox.InputGroup .Label {
    margin-right: 0.4em;
    width: 12em;
}
vbox.InputGroup > .Label {
    padding-bottom: 0.6em;
}
